*{ margin: 0; }
body{ font-family: 'Roboto', sans-serif;  } 


.dropdown-btn{ padding: 15px; }
.dropdown-btn .dropbtn { padding: 15px 25px; background-color: #115586; border: none; color: white; font-size: 16px; border: none; cursor: pointer; border-radius: 4px; }
.dropdown-btn .dropbtn:hover, .dropdown-btn .dropbtn:focus { background-color: #2980B9; }
.dropdown-btn .dropdown { position: relative; display: inline-block; float: right; }

.dropdown-btn .dropdown-content.show { margin: 25px 0 0 0;     border-radius: 4px; }
.dropdown-btn .dropdown-content { display: none; position: absolute; background-color: #fff; min-width: 330px; right: 0; box-shadow: 0px 3px 6px #00000029; border: 1px solid #115586; z-index: 1; }
.dropdown-btn .dropdown-content a { color: black; padding: 12px 16px; text-decoration: none; display: block; }
.dropdown-btn .dropdown a:hover {background-color: #ddd;}
.dropdown-btn .show {display: block;}

.dropdown-content .heading-div{ padding: 15px; margin: 0; position: relative; }

.dropdown-content:before { content: ''; display: block; position: absolute; right: 24px; top: -26px; width: 0; height: 0; border: 13px solid transparent; border-bottom-color: #115586; }
.dropdown-content:after { content: ''; display: block; position: absolute; right: 25px; top: -24px; width: 0; height: 0; border: 12px solid transparent; border-bottom-color: white; }

.dropdown-content .heading-div h2 { padding: 0; margin: 0 0 0px 0; color: #115586; font-size: 16px; font-weight: 700; line-height: 21px; }

.dropdown-content .dropdown-body{ padding: 10px 15px; margin: 0; }
.dropdown-content .dropdown-body .drop-row { padding: 0; margin: 0 0 25px 0; }
.dropdown-content .dropdown-body h4 { padding: 0px 0 0px 0px; margin: 0 0 5px 0; color: #115586; font-size: 12px; font-weight: 700; line-height: 16px; }
.dropdown-content .dropdown-body p { padding: 0px 0 0px 0px; margin: 0; color: #3E3D3D; font-size: 12px; font-weight: 400; line-height: 16px; }
.dropdown-content .dropdown-body .status-label { padding: 1px 0 0px 0px; margin: 0; background-color: #79BB39; color: #fff; min-width: 60px; display: inline-block; text-align: center; border-radius: 7px; font-size: 10px; line-height: 16px; margin-left: 7px; }
.dropdown-content .dropdown-body .status-label.reviewed-label{  background-color: #79BB39; color: #fff; }
.dropdown-content .dropdown-body .status-label.pending-label{  background-color: #EBCD05; color: #fff; }

.dropdown-innerbody{  overflow-x: hidden; overflow-y: auto; width: 100%; }

@media screen and (max-width:767px){

    .dropdown-btn .dropdown-content {  min-width: 280px; }
    

}