body{ font-family: 'Roboto', sans-serif; background-color:#3E3D3D66; } 

.modal.custom-modal { position: absolute; top: 0; left: 0; width: 100%; }
.modal .modal-content { background-color: #FFFFFF; border-radius: 3px; box-shadow: 0px 3px 6px #00000029;     width: 100%;  }
.modal .modal-dialog { position: relative; margin: 0px auto; max-width: 364px; width: 100%; min-height: 100vh; display: flex; align-items: center; justify-content: center; }
.modal .modal-header { background-color: #115586; padding: 18px 18px; border-bottom: 1px solid #e5e5e5; color: #FFFFFF; border-radius: 3px 3px 0 0; }
.modal .modal-footer { border-top: none; }
.modal .modal-body { padding: 10px 18px; }
.modal .body-actions { margin: 0 0 30px 0; }
.modal .modal-body .body-title p { font-size: 16px; color: #A1A1A1; margin: 5px 0 5px 0; line-height: 21px; font-weight: 300; }
.modal .modal-header-title { position: relative;overflow: hidden;  font-size: 20px; position: relative; overflow: hidden; font-weight: 500; }
.modal .modal-button .modal-cancel-button { font-family: 'Roboto', sans-serif; cursor: pointer; border: 2px solid #115586; border-radius: 4px; width: 48%; margin-right:2%;  height: 48px; font-size: 12px; color: #115585; background-color: #ffffff; font-weight: 700; transition: 0.3s; float: left; }
.modal .modal-button .modal-cancel-button:hover { background-color: #115586; color: #FFFFFF; }
.modal .modal-button .modal-save-button {font-family: 'Roboto', sans-serif; background: #115586;border-radius: 4px; cursor: pointer;margin-left:2%; width: 48%; height: 48px;  font-size: 12px; border: 2px solid #115586; color: #FFFFFF;  font-weight: 700; transition: 0.3s;  }
.modal .modal-button .modal-save-button:hover { background-color: #17649c;  }
.modal .add-input-group { padding: 0; width: 100%; margin: 10px 0px 0px 0px; }
.modal .add-input-group label { padding: 0; margin: 0 0 5px 0; width: 100%; color: #115586; font-size: 12px; line-height: 13px; font-weight: bold; display: block; }
.modal .add-input-group input { box-sizing: border-box; }
.modal .add-input-group .form-control { padding: 10px 65px 10px 15px; margin: 0; font-size: 14px; width: 100%; background-color: #FAFAFA; border: 1px solid #EBEBEB; border-radius: 4px; min-height: 48px; }
.modal .add-input-group .form-control:hover, .modal .add-input-group .form-control:focus{ outline: none; }
.modal .add-input-group .input-group-with-btn{ padding: 0; margin: 0; position: relative; }
.modal .add-input-group .input-group-with-btn .add-btn { min-width: 50px; min-height: 23px; background-color: #115586; border-radius: 4px; border: none; color: #fff; font-size: 12px; font-weight: 400; text-align: center; position: absolute; top: 13px; right: 10px; text-transform: uppercase; cursor: pointer; line-height: 14px;  transition: 0.3s; }
.modal .add-input-group .input-group-with-btn .add-btn:hover{ outline: none; background-color: #17649c;  }
.modal .modal-button { padding: 20px 0; margin: 0 0 20px 0; clear: both; float: left; width: 100%; }
.modal .actions-row { display: block; width: 100%; position: relative; padding: 5px 0; margin: 0; }
.modal .modal-body .body-actions .actions-row p { font-size: 12px; color: #115586; line-height: 16px; padding: 0 30px 0 0; margin: 0; }
.modal .actions-row .helping-div { padding: 0; margin: 0; position: absolute; right: 0; top: 4px; }
.modal .close-icon { cursor: pointer; float: right; margin: 5px 0 0 0; }
.modal .delete-icon {cursor: pointer;}
.modal button{  font-family: 'Roboto', sans-serif; }


@media screen and (max-width:767px){
    .modal .modal-dialog{ width: 90%; }
}